<% include partials/header %>
<script>
    document.title = "About - Universal Sports";
</script>
<!-----------------Header---------------------->
        <div class="about-header row">
            <h1 class="col-md-8 offset-md-2">About Us</h1>
        </div>

        <div class="about-us">
<!-----------------Byron Ruff---------------------->
        
        <section class="section-byron-ruff">
            <div class="byron-ruff" id="id-byron-ruff">
                <div class="row">
                    <div class="col-xs-12 col-md-8 offset-md-2 content">
                        <h2>Byron Ruff</h2>
                        <p>Coach Byron Ruff has 5+ years experience of building and implementing a program that helps student athletes become mentally poised, better prepared and spiritually grounded for various challenges that arise in the world of sports.
                        <br><br>
                        He has mentored and trained over 30 student athletes that have been awarded athletic scholarships from prominent universities as UNC-Chapel Hill, Duke, Univ. of Georgia, Univ. of Florida, Florida St. Univ., Georgia St. Univ., Kansas St. Univ., Clemson, Tennessee St. Univ., UNC-Charlotte, Colorado St. Univ., Univ. Of Michigan  Cornell University, Univ. of Louisville Penn St. Univ., Naval Academy, Eastern Carolina Univ., Western Carolina Univ., Furman University and several more.
                        <br><br>
                        He is the Area Coordinator for YMCA High School Initiatives, Community Impact; where he helps students qualify for higher education requirements. He has also been appointed Area Director of Youth Commission International, a Christian organization that promotes clubs that are student-led and adult supported.
                        </p>
                        <div class="social-links">
                            <p>
                                Follow Byron on: &nbsp;
                                <a href="https://www.instagram.com/universalsportsllc/?hl=en" target="_blank"><i class="ion-social-instagram"></i></a>
                                <a href="https://twitter.com/byronruff" target="_blank"><i class="ion-social-twitter"></i></a>
                                <a href="https://www.facebook.com/Universal-Sports-LLC-696311587208445/" target="_blank"><i class="ion-social-facebook"></i></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
            
<!--------------------Album-----------------------> 
            
        <section class="section-album">
            <div class="album" id="id-album">
                <ul class="us-showcase clearfix">
                    <li>
                        <figure class="us-photo">
                            <img src="media/img/byron_ruff-1.jpg" alt="Coach Byron Ruff">
                        </figure>
                    </li>
                    <li>
                        <figure class="us-photo embed-responsive embed-responsive-1by1">
                            <video autoplay muted loop>
                                <source src="media/vid/run.mp4" type="video/mp4" class="embed-responsive-item" alt="Coach Byron Ruff training a student.">
                                Your browser does not support the video tag.
                            </video>
                        </figure>
                    </li>
                    <li>
                        <figure class="us-photo">
                            <img src="media/img/coach-student.jpg" alt="Coach Byron Ruff with a student">
                        </figure>
                    </li>                
                    <li>
                        <figure class="us-photo embed-responsive embed-responsive-1by1">
                            <video autoplay muted loop>
                                <source src="media/vid/lift.mp4" type="video/mp4" class="embed-responsive-item" alt="Student lifting weights">
                                Your browser does not support the video tag.
                            </video>
                        </figure>
                    </li>                
                </ul>
                <ul class="us-showcase clearfix">
                    <li>
                        <figure class="us-photo embed-responsive embed-responsive-1by1">
                            <video autoplay muted loop>
                                <source src="media/vid/rope.mp4" type="video/mp4" class="embed-responsive-item" alt="Coach Byron Ruff with a student">
                                Your browser does not support the video tag.
                            </video>
                        </figure>
                    </li>                
                    <li>
                        <figure class="us-photo">
                            <img src="media/img/game-1.jpg" alt="Football game">
                        </figure>
                    </li>                
                    <li>
                        <figure class="us-photo embed-responsive embed-responsive-1by1">
                            <video autoplay muted loop>
                                <source src="media/vid/game-2.mp4" type="video/mp4" class="embed-responsive-item" alt="Baseball game">
                                Your browser does not support the video tag.
                            </video>
                        </figure>
                    </li>                
                    <li>
                        <figure class="us-photo">
                            <img src="media/img/student-1.jpg" alt="One of coach Byron Ruff's students">
                        </figure>
                    </li>
                </ul>
            </div>    
        </section>

<!------------Our Mission - Our Vision------------>
        <section class="section-mission-vision">
            <div class="our-mission-vison" id="id-our-mission">
                <div class="row">
                    <div class="col-xs-12 col-md-8 offset-md-2 our-mission-vision-content">
                        <h2>Our Mission</h2>
                        <p>At Universal Sports, our mission is to transform each athlete by cultivating their abilities and talents. We strive to create an environment that nurtures the athlete intentionally with an holistic approach.  It is our endeavor to service our community while encouraging athletes to achieve success in society through the competitive world of sports.</p>
                        <h2>Our Vision</h2>
                        <p>Universal Sports aims to provide a multi-functional indoor facility that will offer a wide-range of sports, training and programming for all amateur athletes. Universal Sports will offer various programs that will revolutionize the development of amateur athletes as well as the infrastructure in which youth sports is provided. Through our quality and relevant programs, it is our commitment to provide excellent service for our members and visitors.</p>
                    </div>
                </div>
            </div> 
        </section>
        </div>
        
        
        
   <% include partials/footer %>