<% include partials/header %>

<!-----------------Header---------------------->

    <!--<div class="container">-->
        <div class="row">
            <div class="landing-header col-10 offset-1" id="id-landing-header">
              <h1>Universal Sports</h1>
              <h3>
                  <span class="blue">Be great.</span> 
                  <span class="grey">Be awesome.</span>
                  <span class="red">Be legendary.</span> 
              </h3>
            </div>
        </div>
    <!--</div>-->

<!-----------------Services---------------------->
    <div class="container">
    <section class="section-services">
        <div class="services" id="is-services">
            <h2>What we do</h2>
            <div class="row">
                <p class="col-md-8 offset-md-2">
                    At Universal Sports, our mission is to transform each athlete by cultivating their 
                    abilities and talents. We offer training and fitness programs for middle school to 
                    college level students for all sports. We do not just train our athletes, we equip them 
                    with a combination of training, education and life skills which will help them become
                    the best version of themselves.
                </p>
            </div>
            
            <div class="row">
                <div class="col-10 offset-1">
                    <div class="row">
                        <!--Sports-->
                        <div class="col-4 services">
                            <div class="sports">
                                <h3>Sports</h3>
                            </div>
                            <!--Modal trigger button-->
                            <div class="know-more">
                              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#sportsContent">
                                Know More
                              </button>
                            </div>
                        </div>
                        <!--Modal Content-->
                        <div class="modal fade" id="sportsContent" tabindex="-1" role="dialog" aria-labelledby="Sports" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="modalTitle">Sports</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <ul>
                                	<li>&#9654; &nbsp; Track & Field</li>
                                	<li>&#9654; &nbsp; Basketball</li>
                                	<li>&#9654; &nbsp; Baseball/Softball</li>
                                	<li>&#9654; &nbsp; Tennis</li>
                                	<li>&#9654; &nbsp; Football</li>
                                	<li>&#9654; &nbsp; Volleyball</li>
                                	<li>&#9654; &nbsp; Wrestling</li>
                                	<li>&#9654; &nbsp; Cheerleading</li>
                                	<li>&#9654; &nbsp; Gymnastics</li>
                                	<li>&#9654; &nbsp; Martial Arts</li>
                                	<li>&#9654; &nbsp; Lacrosse</li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!--Programming-->
                        <div class="col-4 services">
                            <div class="pgm">
                                <h3>Programming</h3>
                            </div>
                            <!--Modal trigger button-->
                            <div class="know-more">
                              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#pgmContent">
                                Know More
                              </button>
                            </div>
                          </div>
                        <!--Modal Content-->
                        <div class="modal fade" id="pgmContent" tabindex="-1" role="dialog" aria-labelledby="Programming" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="modalTitle">Programming</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <ul>
                                	<li>&#9654; &nbsp; Mental Health Assessments and Treatment</li>
                                	<li>&#9654; &nbsp; Counseling</li>
                                	<li>&#9654; &nbsp; Mentoring</li>
                                	<li>&#9654; &nbsp; Higher Education Preparation (SAT/ACT Prep)</li>
                                	<li>&#9654; &nbsp; Tutoring</li>
                                	<li>&#9654; &nbsp; Public Speaking Coaching</li>
                                	<li>&#9654; &nbsp; Finance and Investment Education</li>
                                	<li>&#9654; &nbsp; Advocacy Programming and Internships Targeting Minorities and Women In Technology, Education and Entrepreneurship</li>
                                	<li>&#9654; &nbsp; Character Development With Targeted Focus On Integrity, Sportsmanship and Leadership</li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                        
                        <!--Fitness-->
                        <div class="col-4 services">
                            <div class="fitness">
                                <h3>Fitness & Nutrition</h3>
                            </div>
                            <!--Modal trigger button-->
                            <div class="know-more">
                              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#fitnessContent">
                                Know More
                              </button>
                            </div>
                        </div>
                        <!--Modal Content-->
                        <div class="modal fade" id="fitnessContent" tabindex="-1" role="dialog" aria-labelledby="Fitness" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="modalTitle">Fitness</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <ul>
                                	<li>&#9654; &nbsp; Individual/Group Sports Performance Training</li>
                                	<li>&#9654; &nbsp; Nutrition Coaching</li>
                                	<li>&#9654; &nbsp; Healthy Lifestyle Guidance and Assistance</li>
                                	<li>&#9654; &nbsp; Massage Therapy</li>
                                	<li>&#9654; &nbsp; Physical Therapy</li>
                                	<li>&#9654; &nbsp; Healthy Foods, Snacks and Drinks Onsite</li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </div>
<!-----------------Testimonials---------------------->
    <section class="section-testimonials">
        <div class="testimonials container" id="id-testimonials">
            
        </div>
    </section>

<!-----------------Subscription---------------------->


<!-----------------Instagram---------------------->
    <div class="space">
        
    </div>

<% include partials/footer %>