/*---------------------------------*/
/*--------Website Colors-----------*/
/*---------------------------------*/

$logo-red: #d0252a;
$logo-blue: #4ebfe5;
$logo-dark: #231f20;
$logo-grey: #c2c2c2;
$logo-light: #e3e4e5;
$logo-lame: #e224e5;

/*---------------------------------*/
/*---------Website Fonts-----------*/
/*---------------------------------*/

//Headings
// $headings-font: 'Playfair Display', serif;
$headings-font:  'Raleway', sans-serif;
$headings-default-weight: 500;
$headings-default-size: 40px;

//Content
$content-font: 'Raleway', sans-serif;
$content-default-weight: 400;
$content-default-size: 16px;