/*---------------------------------*/
/*--------Website Colors-----------*/
/*---------------------------------*/

$logo-red: #d0252a;
$logo-blue: #4ebfe5;
$logo-dark: #231f20;
$logo-grey: #c2c2c2;
$logo-light: #e3e4e5;
$logo-lame: #e224e5;

/*---------------------------------*/
/*---------Website Fonts-----------*/
/*---------------------------------*/

//Headings
// $headings-font: 'Playfair Display', serif;
$headings-font:  'Raleway', sans-serif;
$headings-default-weight: 500;
$headings-default-size: 40px;

//Content
$content-font: 'Raleway', sans-serif;
$content-default-weight: 400;
$content-default-size: 16px;

/*---------------------------------*/
/*---------Main Stylesheet---------*/
/*---------------------------------*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    background-color: #fff;
    font-family: $content-font;
    font-weight: $content-default-weight;
    font-size: $content-default-size;
    line-height: 160%;
    color: $logo-dark;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    text-align: justify;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $headings-font;
    font-weight: $headings-default-weight;
    font-size: $headings-default-size;
    text-transform: uppercase;
}

h3 {
    font-size: $headings-default-size * .75;
}

h4 {
    font-size: $headings-default-size * .5;
}


.clearfix{zoom: 1}
.clearfix:after{
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/*---------------------------------*/
/*-------------Navigation----------*/
/*---------------------------------*/

.logo {
    height: 50px;
    margin-left: 40px;
}

.navigation i {
    color: #000;
    font-size: 200%;
}

.navbar li a:hover {
    background-color: rgba(255, 255, 255, 0);
}

.main-nav {
    height: 60px;
    background-color: rgba(255, 255, 255, 0);
}

.main-nav li {
    margin: 10px 40px 10px 0px;
    font-family: $headings-font;
    font-size: 150%;
    font-weight: 100;
    text-transform: uppercase;
}

.main-nav li a:link,
.main-nav li a:visited {
    text-decoration: none;
    color: #fff;
}

.main-nav li a:hover,
.main-nav li a:active {
    text-decoration: none;
    color: $logo-blue;
    transition: border 0.3s;
}

.main-nav li:hover,
.main-nav li:active {
    margin-bottom: 5px;
    border-bottom: 2px solid $logo-blue;
}

/*-----------Sticky Nav-----------------------------*/
.sticky {
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 2px #efefef;
    box-shadow: 0 2px 2px #efefef;
    z-index: 999;
    height: 60px;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    color: #000;
}

.sticky .main-nav li a:hover,
.sticky .main-nav li a:active {
    color: $logo-blue;
}

/*--------Mobile Navigation-----------------------*/

.mobile-nav-icon {
    float:right;
    margin-top: 30px;
    cursor: pointer;
    display: none;
}

.mobile-nav-icon i {
    font-size: 200%;
    color: $logo-dark;
}

/*---------------------------------*/
/*-------------Header--------------*/
/*---------------------------------*/

header {
    height: 100vh;
    position: relative;
    z-index: -1;
    background-color: $logo-dark;
    
}

.landing-header {
    
    position: absolute;
    top: 30%;
    color: #fff;
    text-align: center;
    
    h3{
        text-transform: none;
        font-weight: 500;
        margin: 10px auto;
        text-shadow: 0 1px 0 #000;
        font-family: $content-font;
    }
    
    h1 {
        font-size: $headings-default-size * 1.7;
        text-transform: uppercase;
        text-shadow: 0 1px 1px #000;
        font-family: $content-font;
    }
    
    .blue {
        color: $logo-blue;
    }
    .grey {
        color: #ccc;
    }
    .red {
        color: $logo-red;
    }
}


.slideshow {
    
    width: 100%;
    height: 100vh;
    z-index: 0;
    list-style: none;
    margin: -80px;
    padding: 0;
  
    li {
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
        opacity: 0;
        z-index: 0;
        animation: imageAnimation 20s linear infinite;
    }
}

.slideshow li:nth-child(1) { 
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../media/img/header/1.jpg) 
}
.slideshow li:nth-child(2) { 
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../media/img/header/2.jpg);
  animation-delay: 4s; 
}
.slideshow li:nth-child(3) { 
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../media/img/header/3.jpg);
  animation-delay: 8s; 
}
.slideshow li:nth-child(4) { 
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../media/img/header/4.jpg);
  animation-delay: 12s; 
}
.slideshow li:nth-child(5) { 
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../media/img/header/5.jpg);
  animation-delay: 16s; 
}

@keyframes imageAnimation { 
  0% { 
    opacity: 0; 
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}

/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
	opacity: 1;
}


/*---------------------------------*/
/*----------------Index------------*/
/*---------------------------------*/

// Services
.section-services {
    
    h2 {
        text-align: center;
        margin: 30px auto;
    }
    
    h2:after {
        display: block;
        height: 2px;
        background-color: $logo-blue;
        content: " ";
        width: 100px;
        margin: 0 auto;
        margin-top: 20px;
    }

    
    p {
        text-align: center;
        line-height: 160%;
        margin-bottom: 30px;
    }
    
    .modal-dialog {
        z-index: 9999;
    }
    
    .know-more {
        width: 250px;
        text-align: center;
        margin: 20px 0 40px 0;
    }
    
    h3 {
        color: #fff;
        text-shadow: 0 1px 1px #555;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        margin: 0 auto;
    }
    
    .sports {
        background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(../media/img/sports.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: left;
        height: 250px;
        width: 250px;
        box-shadow: 0 2px 2px #555;
        position: relative;
    }
    
    .pgm {
        @extend .sports;
        background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(../media/img/pgm.jpg);
    }
    
    .fitness {
        @extend .sports;
        background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(../media/img/fitness.jpg);
    }
    
    ul {
            list-style: none;
            padding: 30px;
        }
    
}

//Testimonials

.section-testimonials {
    
    background-color: #f8f8f8;
    
    
}



.space {
    margin-bottom: 80px;
}

/*---------------------------------*/
/*--------About Us Stylesheet------*/
/*---------------------------------*/

.about-header {
    height: 50vh;
    width: 100%;
    z-index: 0;
    margin-top: -80px;
    padding-top: 80px;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../media/bg/football.jpg);
    background-position: bottom;
    background-attachment: fixed;
    
    h1 {
        font-size: $headings-default-size*1.7;
        margin-top: 5%;
        color: #fff;
        text-shadow: 0 1px 1px #000;
        text-transform: none;
    }
}

//Overall about us
.about-us {    
    background-image: url(../media/bg/gplaypattern_@2X.png);
    background-attachment: fixed;
    
    h2 {
        margin: 30px auto;
    }
    
}

//Section Byron Ruff
.section-byron-ruff {
    
    margin-bottom: 20px;
    
    .content {
        margin: 40px auto 20px auto;
    }
    
    .social-links a:link,
    .social-links a:visited {
            font-size: 200%;
            padding: 5px;
            -webkit-transition: color 0.2s;
            transition: color 0.2s;
    }

    .ion-social-facebook {
        color: #3b5998;
    }

    .ion-social-twitter {
        color: #00aced;
    }

    .ion-social-instagram {
        color: #517fa4;
    }
    
    .ion-social-facebook:hover,
    .ion-social-twitter:hover,
    .ion-social-instagram:hover,
    .ion-social-facebook:active,
    .ion-social-twitter:active,
    .ion-social-instagram:active {
        color: $logo-dark;
        -webkit-transition: color 0.2s;
        transition: color 0.2s;
    }
}

//Section album
.section-album {
    
    padding: 0;
    
    
    ul{
        margin-bottom: 0;
    }
    
    .us-showcase {
        list-style: none;
        width: 100%;
    }

    .us-showcase li {
        display: block;
        float: left;
        width: 25%;
    }

    .us-photo {
        width: 100%;
        margin: 0;
        overflow: hidden;
    }

    .us-photo img,
    .us-photo video {
        opacity: 0.8;
        width: 100%;
        height: auto;
        -webkit-transform: scale(1.15);
        transform: scale(1.15);
        -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
        transition: opacity 0.5s, -webkit-transform 0.5s;
        transition: transform 0.5s, opacity 0.5s;
        transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;

    }

    .us-photo img:hover,
    .us-photo video:hover {
        opacity: 1;
        -webkit-transform: scale(1.03);
        transform: scale(1.03);
    }
}

//Section mission vision
.section-mission-vision {
    
    .our-mission-vision-content {
        margin: 40px auto 80px auto;
    }
}

/*---------------------------------*/
/*----------Testimonials-----------*/
/*---------------------------------*/



/*---------------------------------*/
/*----------Subscription-----------*/
/*---------------------------------*/

.section-subscription {
    height: 100vh;
}

/*---------------------------------*/
/*--------------Footer-------------*/
/*---------------------------------*/

footer {
    background-color: $logo-dark;
    color: $logo-dark;
    padding-bottom: 30px;
}

.contact-us {
    background-color: $logo-blue;
    margin-top: -5%;
    box-shadow: 0 2px 6px #555;
    font-weight: 500;
    
    h2 {
        margin: 30px auto;
        text-align: center;
    }
    
    .submit-button {
        position: relative;
    }
    button {
        position: absolute;
        top: 60%;
        left: 0;
        transform: translateY(-50%);
    }
}

.footer-content {
    padding-top: 30px;
    color: #fff;
}

.footer-social {
    border-right: 4px solid #555;
    text-align: center;
    
    .social-links li a:link,
    .social-links li a:visited {
        text-decoration: none;
        border: 0;
        -webkit-transition: color 0.2s;
        transition: color 0.2s;
    }
    .ion-social-facebook,
    .ion-social-twitter,
    .ion-social-googleplus,
    .ion-social-instagram {
        color: #fff;
        font-size: 150%;
        padding: 5px;
        -webkit-transition: color 0.2s;
        transition: color 0.2s;
    }
    .ion-social-facebook:hover {
        color: #3b5998;
    }
    
    .ion-social-twitter:hover {
        color: #00aced;
    }
    
    .ion-social-googleplus:hover {
        color: #dd4b39;
    }
    
    .ion-social-instagram:hover {
        color: #517fa4;
    }

}

.footer-location {
    padding-left: 40px;
}