<% include ../partials/header %>
    
    <!--Header-->
    <div class="about-header row">
        <h1 class="col-8 offset-2">Trending</h1>
    </div>
    
    <div class="trending-container">
    
    <!--Trending-->
    <!--<div class="container"> -->
    <!--    <div class="trending">-->
    <!--        <span class="trending-icon"><img src="/media/favicons/trending.png">Hot</span>-->
    <!--    </div>-->
    <!--</div>-->
    
    <!--Shoutouts-->
    <section class="section-shoutouts">
        <div class="shoutouts" id="id-shoutouts">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <h2>Shout out!</h2>
                    <div class="shoutout-img" id="id-shoutout-img">
                        <img src="../media/img/game-1.jpg" class="img-responsive">
                    </div>
                    <div class="shoutout-content" id="id-shoutout-content">
                        
                    </div>
                </div>
            </div>
            
        </div>
    </section>
    
    </div>

<% include ../partials/footer %>