/*---------------------------------*/
/*--------Website Colors-----------*/
/*---------------------------------*/
/*---------------------------------*/
/*---------Website Fonts-----------*/
/*---------------------------------*/
@media only screen and (max-width: 1000px) {
  .section-services .sports,
  .section-services .pgm,
  .section-services .fitness {
    height: 170px;
    width: 170px;
    text-align: center; }
  .section-services h3 {
    font-size: 20px; }
  .section-services .know-more {
    width: 170px; } }

@media only screen and (max-width: 767px) {
  /*---Navbar background---*/
  /*-----------Mobile Navigation-----------------------------*/
  .logo, .sticky .navbar-brand img {
    height: 50px;
    position: absolute;
    top: 0;
    left: 0; }
  .sticky .navbar-brand img {
    margin-left: 40px; }
  .navbar-collapse {
    background-color: #ccc;
    text-align: center; }
  .main-nav {
    height: 200px; }
  .main-nav-toggle {
    background-color: black; }
  .main-nav li a:link,
  .main-nav li a:visited {
    border: 0;
    color: #fff; }
  .main-nav li a:hover,
  .main-nav li a:active,
  .sticky .main-nav li a:hover,
  .sticky .main-nav li a:active {
    color: #4ebfe5; }
  .main-nav li:hover,
  .main-nav li:active {
    border: 0; }
  .hidden-sm {
    display: none; }
  .hidden-md {
    display: block; }
  .sticky .hidden-md {
    display: block; }
  .sticky .sticky-header {
    display: none; }
  .sticky .hidden-sm {
    display: none; }
  .landing-header {
    top: 50%; }
    .landing-header h1 {
      font-size: 250%; }
  .section-services h3 {
    font-size: 28px; }
  .section-services .sports,
  .section-services .pgm,
  .section-services .fitness {
    height: 250px;
    width: 250px;
    margin: 0 auto; }
  .section-services .know-more {
    width: 250px;
    margin: 20px auto 40px auto; }
  .section-subscription .modal-body {
    font-size: 90%; }
  .trending-header h1 {
    font-size: 56px;
    margin-top: 30%; }
  .section-shoutouts,
  .section-info,
  .section-instagram {
    padding-left: 5%;
    padding-right: 5%; }
    .section-shoutouts h2,
    .section-info h2,
    .section-instagram h2 {
      margin: 10px auto;
      text-align: center; }
    .section-shoutouts .shoutout-content,
    .section-info .shoutout-content,
    .section-instagram .shoutout-content {
      margin-bottom: 20px; }
    .section-shoutouts #instafeed,
    .section-info #instafeed,
    .section-instagram #instafeed {
      text-align: center; }
  .about-header h1 {
    font-size: 56px;
    margin-top: 30%; }
  .section-byron-ruff h2 {
    margin: 10px auto; }
  .section-byron-ruff .content {
    margin: 20px auto 0 auto;
    padding: 0 30px; }
  .section-mission-vision h2 {
    margin: 10px 0; }
  .section-mission-vision .our-mission-vision-content {
    margin: 20px auto 40px auto;
    padding: 0 30px; }
  .contact-us h2 {
    margin: 20px auto; }
  .contact-us button {
    left: 50%;
    transform: translateX(-50%); }
  .footer-social {
    border: none;
    text-align: center;
    margin-bottom: 30px; }
  .footer-location {
    padding: auto;
    text-align: center; }
  .footer-bottom .copyright,
  .footer-bottom .credit {
    text-align: center;
    margin: 10px auto; } }

@media only screen and (max-width: 568px) {
  .hidden-xs {
    display: none; }
  .hidden-sm {
    display: none; }
  .about-header h1 {
    font-size: 40px; } }
